.CodeEditor {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--space);
  padding: var(--space-2) var(--space);
  text-align: start;
  border-radius: var(--border-radius);
  background-color: var(--white-color);

  &>div:first-child {
    padding: var(--space);
    margin-block-end: var(--space-2);
    border-block-end: 1px solid var(--gray);
  }

  &__title {
    font-size: 2rem;
    margin-block-end: var(--space);
  }

  &__description {
    font-size: 1.6rem;
  }

  &-output {
    font-size: 20px;
    margin-top: 20px;
  }

  .button-container {
    margin-top: var(--space-2);
    justify-content: space-between;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 20px;
    border-radius: var(--border-radius);
    background-color: var(--primary-light);
    border: 1px solid var(--primary-light);
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;

    &--outline {
      margin-inline-end: var(--space-2);
      color: var(--primary-light);
      background-color: transparent;
    }

    &--hidden {
      display: none;
    }

    &:hover {
      -webkit-box-shadow: 1px 2px 4px 0 rgba(21,99,157,.16);
      box-shadow: 1px 2px 4px 0 rgba(21,99,157,.16);
      transition: 0.3s;
    }
  }

  &-themeBtn {
    color: var(--primary-light);
    border: 0;
    background-color: transparent;
  }

  .SuccessMessage {
    font-size: 1.6rem;
    font-weight: var(--bold);
    color: var(--positive);
  }
}