.CodeEditor {
  display: flex;
  flex-direction: column;
  padding: var(--space-2) 0;
  text-align: start;

  &>div {
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    font-size: 1.6rem;
  }

  &-themeBtn {
    margin: 20px 0;
  }

  &-output {
    font-size: 20px;
    margin-top: 20px;
  }

  .button-container {
    margin-top: var(--space-2);
    justify-content: flex-end;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 20px;
    margin-inline-end: var(--space-2);
    border-radius: var(--border-radius);
    background-color: var(--primary-light);
    border: 1px solid var(--primary-light);
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;

    &--outline {
      color: var(--primary-light);
      background-color: transparent;
    }

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
    }
  }

  .SuccessMessage {
    font-size: 1.6rem;
    font-weight: var(--bold);
    color: var(--positive);
  }
}