.SuccessMessage {
  padding: var(--space-2);
  margin-block-start: var(--space-2);
  font-size: 1.2rem;
  color: var(--positive);
  font-weight: var(--bold);
  background-color: #e5ffe2;
  border-radius: var(--border-radius);

  &__title {
    margin-bottom: 20px;
    font-weight: var(--bold);
    font-size: 20px;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: var(--bold);
    font-size: 17px;
  }

  &__message {
    font-weight: var(--normal);
    font-size: 17px;
  }
}