:root {
  /* Colors */
  --primary-color: #182C3F;
  --primary-light: #0791E6;
  --secundary-color: #98CA3F;
  --black-color: #273B47;
  --white-color: #fff;
  --gray: #E9E9E9;
  --nagative: #FF4842;

  /* Typography */
  --font: 'Lato', sans-serif;

  /* Typo bolds */
  --normal: 400;
  --semi-bold: 600;
  --bold: 700;

  /* Spacing */
  --space-half: 5px;
  --space: 10px;
  --space-2: 20px;
  --space-3: 30px;
  --space-4: 40px;
  --space-5: 50px;

  /* Border radius */
  --border-radius: 5px;
}